.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.foto-img {
  width: 100%;
}

#foto .row > * {
  padding: 0;
}

/* My Rims Section */
.rims-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.rims-box::before {
  content: 'MY';
  position: absolute;
  color: #ffff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.rims-box:hover::before {
  opacity: 0.4;
}

.rims-box::after {
  content: 'Rims';
  position: absolute;
  color: #ffff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.rims-box:hover::after {
  opacity: 0.4;
}

.rims-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 100px);
  transition: 0.5s;
}

.rims-box:hover .rims-name {
  top: 20px;
  opacity: 1;
}

.rims-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 80px);
  opacity: 0;
  transition: 0.5s;
}

.rims-box:hover .rims-detail-button {
  opacity: 1;
  bottom: 20px;
}

.rims-img {
  position: absolute;
  top: 15%;
  left: 8%;
  transform: translate3d(0, 0, 70px);
  max-width: 350px;
  transition: 0.5s;
}

.rims-box:hover .rims-img {
  transform: translate3d(-5%, -5%, 70px) rotate(5deg) scale(2);
}
